<section class="main">
    <div class="layer">
        <div class="bottom-grid">
            <div class="logo">
                <h1> <a href="#">WatchO=</a></h1>
            </div>
        </div>
        <div class="content-w3ls">
            <div class="content-bottom">
                <form action="/admin/login" method="post">
                    <div class="field-group">
                        <span class="fa fa-user" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="email" id="text1" type="email" value="" placeholder="email" required>
                        </div>
                    </div>
                    <div class="field-group">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="Password" id="myInput" type="Password" placeholder="Password">
                        </div>
                    </div>
                    <div class="wthree-field">
                        <button type="submit" class="btn">Get Started</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>