<section>
    <!-- Footer -->
    <footer class="text-center text-white"  style="background-color:#152F4F;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/Arunabh.CRI" role="button"><i
                            class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/Arunabh22477936?t=wiNnJfHif4ndD6AW1_2GIg&s=08" role="button"><i
                            class="fab fa-twitter"></i></a>

                    <!-- Google -->
                    <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="mailto:arunabh1995@gmail.com.com" role="button"><i
                            class="fab fa-google"></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/arunabh___" role="button"><i
                            class="fab fa-instagram"></i></a>

                    <!-- Linkedin -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/arunabh-p-498138b3" role="button"><i
                            class="fab fa-linkedin-in"></i></a>

                    <!-- Github -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Arunabh-P" role="button"><i
                            class="fab fa-github"></i></a>
                </section>
                <div data-reactid="107"><strong data-reactid="108">100% ORIGINAL </strong><!-- react-text: 109 -->
                    guarantee for all products at Watcho.com
                    <!-- /react-text -->
                </div>
                </p>
            </section>
            <!-- Section: CTA -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="/">watcho.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>